/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
html {
  font-size: clamp(13px, 0.5vw + 12px, 18px);
}

body {
  margin: 0;
  background: #0b0b1f;
  color: white;
  font-family: "Raleway", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./app/layout.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.layout_app__EsRjK {
  min-height: 100vh;
  background: #0b0b1f;
  color: white;
  font-family: "Raleway", Arial, sans-serif;
}

